@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Grotesk:wght@500&display=swap');

body{
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
    font-family: 'Space Grotesk';
    color: white;
    background-size: 450px 100vh;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    padding: 0 0 0 10em;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: wrap;
    min-height: 90vh;
}

.cartao{
    display: grid;
    padding: 2em;
    padding-right: 5em;
}

.cartao-verso{
    display: inline-block;
    position: relative;
    padding: 2em 0 0 5em;     
}

.cvc-cartao{
    position: absolute;
    padding: 0 0 0 20em;
    top: 143px;
    font-size: 18px;
    font-family: 'Space Grotesk'; 
}

.cartao-frente{
    display: inline-block;
    position: relative;
   
}

.info-cartao{
    position: absolute;
    padding: 1em;
    top: 15px;
    font-family: 'Space Grotesk';
    text-transform: uppercase;
    width: 400px;

}

.div-numero{
    margin-top: 1.2em;
    font-size: 30px;
}

.nome-e-data{
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
    gap: 25m;
}

.data{
    display: flex;
    
}


.box{
    background-color: white;
    padding: 2em;
    margin-bottom:20px;
    text-align: left;
    border-radius: 8px;
}

.entrada{
    padding-bottom: 1em;
    width: 100%;
}

input{
    display: block;
    width: 100%;
    padding: 0.5em 0 0.5em 0;
    margin-top: 0.5em;
    border-radius: 5px;
    border:  2px solid hsl(260, 4%, 85%);
}

input::placeholder{
    padding-left: 1em;
    font-weight: 600;
    color: hsl(260, 4%, 85%);;
}


input:active{
    outline: none;
    border: 1.9px solid hsl(279, 6%, 55%);
}

.box__container{
    display: flex;
}

.data__input{
    width: 8em;
    display: flex;
} 

#ano-form{
    margin-left: 0.8em;
}

.cvc{
    margin-left: 1em;
}

label{
    color: hsl(278, 68%, 11%);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

small{
    font-size: 10px;
    color: red;
}

button{
    background-color: hsl(278, 68%, 11%);
    color: white;
    width: 100%;
    padding: 1em 2em 1em 1em;
    border-radius: 5px;
    transition: transform 0.4s ease;
    cursor: pointer;
}

button:focus{
    outline: none;
}

button:active{
    transform: translateY(2px);
}



