@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Grotesk:wght@500&display=swap');

body{
    background-image: url("../images/bg-main-desktop.png");
    background-repeat: no-repeat;
    font-family: 'Space Grotesk';
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    padding: 0 0 0 10em;
    align-items: center;
    justify-content:flex-start;
    flex-wrap: wrap;
    min-height: 90vh;
}

.cartao{
    display: grid;
    padding: 2em;
    padding-right: 5em;
}

.cartao-verso{
    padding: 0 0 0 5em;     
}

.box{
    background-color: white;
    padding: 2em;
    margin-bottom:20px;
    text-align: left;
    border-radius: 8px;
}

.entrada{
    padding-bottom: 1em;
    width: 100%;

}

input{
    display: block;
    width: 100%;
    padding: 0.5em 0 0.5em 1em;
    margin-top: 0.5em;
    border-radius: 5px;
    border:  1px solid hsl(246, 25%, 77%);
}

.box__container{
    display: flex;
}

 .data__input{
    width: 8em;
    display: flex;
} 

#ano{
    margin-left: 0.8em;
}

.cvc{
    margin-left: 1em;
}

label{
    color: hsl(278, 68%, 11%);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
}

small{
    font-size: 10px;
    color: red;
}

button{
    background-color: hsl(278, 68%, 11%);
    color: white;
    width: 100%;
    padding: 1em 2em 1em 1em;
    border-radius: 5px;
}